.post {
  width: 32rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
.userName{
  font-size: 20px;
  font-family: Courier 'Courier New', Courier, monospace;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 30px;
  
}
.postText{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 10px;
  font-family: Courier 'Courier New', Courier, monospace;
  margin-top: -5px;
  margin-bottom: 0px;
}

.like{
  font-size: 200%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.counter{
  font-size: 225%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  margin-bottom: -25px;
  text-align: right;
  color: rgb(143, 143, 143);
}


