.post {
  margin-left: 40px;
  margin-right: 70px;
  width: 32rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;

 

}

.timestamp {
  font-size: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
 
}
.userName{
  font-size: 20px;
  font-family: Courier 'Courier New', Courier, monospace;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 30px;
  
}
.postText{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 10px;
  font-family: Courier 'Courier New', Courier, monospace;
}

.like{
  font-size: 200%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.counter{
  font-size: 200%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}